<div id="homepage" *ngIf="boards; else elseBlock">

    <div class="row m-3">
        <div class="col-sm-6">
            <h1>Job Sources Board</h1>
        </div>
        <div class="col-sm-6 text-right">
            <a routerLink="/job-upload" routerLinkActive="active">Upload Job CSV</a>
        </div>

    </div>
    <!-- <link href="/JobSourceResolver/job-source-resolver-ui/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->
    <div class="row">
        <div *ngFor="let board of boards" class=" col-sm-4 p-3">

            <div class="card">
                <h5 class="text-center bg-light">{{board.name}}</h5>
                <p class="text-center">Opportunites Available : {{numberOfOpp(board.name)}}</p>
                <a routerLink="/job-table/{{board.name}}" routerLinkActive="active" [state]="{jobOpps: getJobOpps(board.name)}" class="card-img-wrapper ">
                    <img class="card-img-top" src={{board.logo_file}} alt="">

                </a>

                <div class="card-body text-center">
                    <p class="card-text">{{board.description}}</p>
                </div>


                <div class="container">
                    <div class="row text-center font-weight-bold">
                        <p class="card-text {{determineColor(board.rating)}}">{{board.rating}}</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="text-center" style="margin-top:20%">
        <p-progressSpinner></p-progressSpinner>

    </div>
</ng-template>